<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ComposeTextView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>437905CF1CC5A06300973C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>437905E61CC5A06300973C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>437905F11CC5A06300973C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
